/* .Artists__content {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: var(--height-header);
} */

.Artists__content {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: var(--height-header);
    padding-bottom: var(--height-header);
}